@typeparam TItem

<table id="@TableId" class="table table-hover @AdditionalClasses">
    <thead>
        <tr class="table-header col-md-12">@HeadTemplate</tr>
    </thead>
    <tbody>
        @if (Items == null)
        {
            <tr>                
                <td colspan="8">
                    <div>
                        <img class="mx-auto d-block w-25" src="_content/AnonyQuest.Components/images/loading.gif" />
                    </div>
                </td>
            </tr>
        }
        else if (!Items.Any())
        {
            if (EmptyTemplate == null)
            {
                <tr>
                    <td class="text-center" colspan="8">Não há registros recebidos</td>
                </tr>
            }
            else
            {
                @EmptyTemplate
            }
        }
        else
        {
            foreach (var element in Items)
            {
                <tr>@RowTemplate(element)</tr>
            }
        }
    </tbody>
</table>


@code{
        [Parameter]
        public RenderFragment HeadTemplate { get; set; }

        [Parameter]
        public RenderFragment<TItem> RowTemplate { get; set; }

        [Parameter]
        public RenderFragment EmptyTemplate { get; set; }

        [Parameter]
        public string TableId { get; set; }

        [Parameter]
        public IEnumerable<TItem> Items { get; set; }

        [Parameter]
        public string AdditionalClasses { get; set; }


        protected override void OnInitialized()
        {

        }


}